body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #1d1a1ac0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
main {
    padding: 20px;
}
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
label {
    margin-right: 10px;
}
input {
    flex-grow: 1;
    padding: 8px;
}
button {
    background-color: #4caf50;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #45a049; 
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
}
footer {
    background-color: #1d1a1ac0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
